<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = <%= controller.controller_name %> >
    <div id = "banner">
      <h1>
        <%= @page_title || "pragmatic bookshelf" %>
      </h1>
    </div>
    <div id = "columns">
      <div id = "side">
        <div id = "cart"

          <% if @cart.line_items.empty? %>
            style = "display:none;"
          <% end %>
        >
        <%= render @cart %>
      </div>
        <ul>
          <span id = "date">
            <%= Time.now %>
          </span>
          <li><a href = "#"> Home </a></li>
          <li><a href = "#"> Questions </a></li>
          <li><a href = "#"> News </a></li>
          <li><a href = "#"> Contact </a></li>
        </ul>
      </div>
      <div id = "main">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
